@use './colors' as *;

.section {
	margin: 2em;
}

ol,
ul {
	margin: 0 1.5em;
}

// HEADER

.header {
	&__image {
		width: 100%;
	}

	&__text-box {
		margin: 2em;
	}

	&__heading {
		font-family: 'Young Serif', sans-serif;
		color: $stoneBold;
		font-size: 3.4rem;
		font-weight: 600;
		line-height: 3.6rem;
	}
	&__text {
		margin-top: 1.5em;
		color: $stone;
	}
}

.prep-time {
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1.5em;
		background-color: $roseExtraLight;
		border-radius: 15px;
	}

	&__heading {
		color: $rose;
		font-size: 2rem;
	}

	&__list {
		margin-top: 1em;
	}

	&__item {
		margin-bottom: 1em;

		&::marker {
			color: $rose;
			font-size: 1em;
		}
	}

	&__item:last-child {
		margin-bottom: 0em;
	}

	&__text {
		position: relative;
		left: 1em;
		color: $stone;

		&--span {
			font-weight: bold;
		}
	}
}
