@use './colors' as *;
@use './media';
@use './recipe_page';
@use './reset';
@use './footer';

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Outfit', sans-serif;
	font-size: 1.6rem;
}
